<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/site_admin">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

    <application
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:hardwareAccelerated="true">
        <activity
            android:name="by.carkva_gazeta.admin.AdminMain"
            android:label="@string/site_admin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik2.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.NovyZapavietSemuxaList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik2.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.StaryZapavietSemuxaList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik2.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.StaryZapavietSemuxa"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/title_activity_stary_zapaviet2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.StaryZapavietSemuxaList" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.NovyZapavietSemuxa"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/novy_zapaviet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.NovyZapavietSemuxaList" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.Sviatyia"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/sviatyia">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.PasochnicaList"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/pasochnica">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.Pasochnica"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/pasochnica">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.PasochnicaList" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.PiasochnicaSaveAsFileExplorer"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/pasochnica">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.Pasochnica" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.PiasochnicaNetFileExplorer"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/pasochnica">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.Pasochnica" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.Sviaty"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/sviaty">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.Chytanny"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/sviaty">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.Piarliny"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/piarliny">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.SviatyiaImage"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/admin_img_sviat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.Sviatyia" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.SviatyiaPyxomyia"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/admin_sviatya_pyxomyia">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.Sviatyia" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.admin.BibliatekaList"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/title_biblijateka">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.admin.AdminMain" />
        </activity>
    </application>
</manifest>