<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:name=".Malitounik"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Malitounik"
        tools:targetApi="33">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="uiMode"
            android:theme="@style/Theme.Malitounik">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".WidgetConfig"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".WidgetConfigMun"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".WidgetConfigRadioMaryia"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".WidgetRadyjoMaryiaProgram"
            android:excludeFromRecents="true"
            android:exported="false"
            android:taskAffinity=""
            android:theme="@style/Theme.Transparent" />
        <service android:name=".ServiceRadyjoMaryia"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="by.carkva_gazeta.malitounik.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <receiver
            android:name=".ReceiverBroad"
            android:exported="false">
            <intent-filter>
                <action android:name="by.carkva_gazeta.malitounik.sviaty" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ReceiverBoot"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Widget"
            android:exported="false"
            android:label="@string/widget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata" />
        </receiver>
        <receiver
            android:name=".WidgetMun"
            android:exported="false"
            android:label="@string/widget_mun_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_mun_metadata" />
        </receiver>
        <receiver
            android:name=".WidgetRadyjoMaryia"
            android:exported="false"
            android:label="@string/padie_maryia_s">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_radyjo_maryia_metadata" />
        </receiver>

        <activity
            android:name="by.carkva_gazeta.malitounik.admin.AdminMain"
            android:label="@string/site_admin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.NovyZapavietSemuxaList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.StaryZapavietSemuxaList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.MainActivity" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.StaryZapavietSemuxa"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/title_activity_stary_zapaviet2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.StaryZapavietSemuxaList" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.NovyZapavietSemuxa"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/novy_zapaviet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.NovyZapavietSemuxaList" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.Sviatyia"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/sviatyia">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.PasochnicaList"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/pasochnica">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.Pasochnica"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/pasochnica">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.PasochnicaList" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.PiasochnicaSaveAsFileExplorer"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/pasochnica">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.Pasochnica" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.PiasochnicaNetFileExplorer"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/pasochnica">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.Pasochnica" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.Sviaty"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/sviaty">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.Chytanny"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/sviaty">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.Piarliny"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/piarliny">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.SviatyiaImage"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/admin_img_sviat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.Sviatyia" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.SviatyiaPyxomyia"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/admin_sviatya_pyxomyia">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.Sviatyia" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.BibliatekaList"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/title_biblijateka">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.AdminMain" />
        </activity>
        <activity
            android:name="by.carkva_gazeta.malitounik.admin.CaliandarMun"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/widget_mun_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="by.carkva_gazeta.malitounik.admin.AdminMain" />
        </activity>
    </application>
</manifest>